<%# question ||= nil %>
<%# if question %>
<div class="nested-fields">
  <%= f.input :id, as: :hidden %>
  <%= f.input :question %>
  <%= link_to "Supprimer", "#", class: "sub-form-remove" %>
</div>
<%# end %>

